.Resources {

text-align: center;
height: 10px;
color: black;

}

.Resources_content {
  font-size: 22px;
  text-align: center;


}

.text-first {
  color: #5a5c60;
  font-size: 23px;
  margin: 10px 5px 0 0;
}

.text-second {
  color: red;
  font-size: 23px;
  margin: 10px 5px 0 0;

}

.text-third {
  color: #5a5c60;
  font-size: 23px;
  margin: 10px 5px 0 0;
}

.text-forth {
  color: #5a5c60;
  font-size: 23px;
  margin: 10px 5px 0 0;

}
.text-fifth {
  color: red;
  font-size: 23px;
  margin: 10px 5px 0 0;

}

.text-sixth {
  color: red;
  font-size: 23px;
  margin: 10px 5px 0 0;
}

  .text-seventh {
    color: red;
    font-size: 23px;
    margin: 10px 5px 0 0;

  }
  .text-eigth {
    color: #5a5c60;
    font-size: 23px;
    margin: 10px 5px 0 0;
  }

    .text-ninth {
      color: #5a5c60;
      font-size: 23px;
      margin: 10px 5px 0 0;

    }
