.adoption-resource {
  margin-top: 10px;
  margin-bottom: 10px;
}

.adoption-resource li {
  margin-top: 5px;
}
.resources-container {
  text-align: left;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.resources-container p {
  text-align: justify;
}
