.dog-details-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: center;
}
.dog-details-left {
  display: flex;
  flex-direction: column;
  width: 550px;
  align-items: center;
  justify-content: center;
}
.dog-details-left img {
  max-width: 500px;
}
.dog-details-header {
  text-align: left;
  text-decoration: underline;
}
.dog-details-right {
  margin-top: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
  padding-bottom: 10px;
}
.dog-details-right p {
  font-size: 20px;
  margin: 10px;
  padding: 0;
}
.detail-links{
  text-align: center;
}
.inquiries {
  margin-right: auto;
  margin-left: 20px;
  text-align: left;
}
.inquire-form {
  /* text-align: left;
  margin-right: auto;
  margin-left: 20px; */
  display: flex;
  flex-direction: column;

  width: 350px;
}
.inquire-form table {
  width: 100%;
  align-items: center;
}
.delete-link a {
  color: red;
}
.couple{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
#tbox{
  height: 70px;
  width : 300px;
  border-color: #d6d4d4;
}
.comment{
  text-align: center;
}
.inquire-form p {
  margin: 10px;
}
button{
  margin-bottom: 20px;
}
textarea{
  text-align: center;
}
input[type="text"]{
	width: 230px;
	text-align: center;
	margin-right:  5px;
	margin-left:  5px;
}
