.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-top: 50px;
}
.contact-container {
	text-align: justify;
	width: 60%;
	margin: 0 auto;
}
form [type="submit"]:hover {
	background-color: #007ac1;
}
