.about-content {
max-width: 60%;
margin: 0 auto;
text-align: left;
}

.about-content p {
  text-align: justify;
}

.partner-links img {
  max-width: 200px;
  margin: 0 20px;
}

.embassy {
  max-width: 285px !important;
}
