.index-image a {
  transition:all 0.2s ease-in-out;
  width: 300px;
  height: 300px;
  display: block;
}
.index-image a:hover {
  transition:all 0.2s ease-in-out;
  background-color: rgba(255,255,255,.5);
  transition:all 0.2s ease-in-out;
}

.index-image a {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
.dog-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  opacity: 0;
  transition:all .2s ease-in-out;
}
.index-image:hover .dog-name {
  transition:all 0.2s ease-in-out;
  background-color: rgba(255,255,255,.5);
   opacity: 1;
}
