.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}
.mission-statement {
  text-align: left;
}
.main-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.main-gallery img {
  max-width: 300px;
}
.main-logo {
  max-width: 300px;
  margin-top: 15px;
}
