.all-dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.all-dogs img {
  max-width: 300px;
}

.dog-detail {
  margin: 20px;
}
